.date-picker-wrapper {
    margin-right: 100px;
}

.date-selection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

.button .md .refresh{
    padding: 0px 10px;
}

