h1{
    text-align: center;
    color: black;
}

h2{
    background-color:#F96302;color:#FFFFFF;
}

#headerBack{
     background-color:#F96302;color:#FFFFFF;
     width: 100%;
}

.homePage{
    margin: 46px 0px;
}
.sectionHeader{
    margin: 0px 0px;
    font-size: 20px;
    padding: 0px 25px;
}

.row{
    color: black;
    background-color: white;
}

.row:nth-child(even) {
    background: #FFF4ED;
}

.col{
    padding: 0px 25px;
}

.col1{
    display: inline-block;
    width: 400px;
}

.pcfApps{
    text-align: left;
    color: black;
    width:50%;
    float: left;
}

.gcpApps{
    text-align: right;
    color: black;
    float: right;
}




