h1{
    text-align: center;
    color: black;
}

h2{
    background-color:#F96302;color:#FFFFFF;
}

.pcfApps{
    text-align: left;
    color: black;
    width:50%;
    float: left;
}

.gcpApps{
    text-align: right;
    color: black;
    float: right;
}



